= turbo_frame_tag "gp-main-board", target: "_top", class: "content mb-0" do
  - if serving
    iframe frameborder="0" src="data:text/html;base64,#{encode_html(html_game_compile.html_bytes)}" style="width: 100%; height: 75vh;"

