.block
  = button_to "Recompile this game", build_game_project_path(game_project, compile_type: game_project.compile_type ), class: "button is-primary is-small"
  = link_to "Show this WebGL game", game_compile, class: "button is-small is-primary"
